mixin button(args='')
  - const type = args.type || 'button'
  - let classes = ''
  - args.whiteMode ? classes += ' andr-button--white' : null

  button.andr-button(type=args.type, class=classes, data-tooltip=args.toolTip).simptip-position-bottom.simptip-fade.simptip-smooth
    if args.icon
      span.andr-button__text=args.text
        |
        |
        span.andr-button__hidden --
        svg.icon.icon-more-sign
          use(xlink:href='#icon-more-sign')
    if !args.icon 
      span.andr-button__text=args.text 
    if !args.icon, !args.text 
      span(style='color:red;') Default text
