mixin categoryItem (args={})
  
  .alx-category-item(class=args.classes)
    if args.icon 
      img(src=args.src, alt=args.alt).alx-category-item__icon
    if args.title 
        h3.alx-category-item__title=args.title
    if args.subtitle 
        p.alx-category-item__subtitle=args.subtitle