mixin blogPostsItem (args={})
  - let classes = ''

  if args.src
    .val-blog-post-item
      .val-blog-post-item__image-block
        img(src=args.src, alt="post image").val-blog-post-item__image-block__image
      .val-blog-post-item__info
        p.val-blog-post-item__info__subtitle=args.subtitle
        h2.val-blog-post-item__info__title=args.title
        p.val-blog-post-item__info__text='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.'
  if args.src2
    .val-blog-post-item
      .val-blog-post-item__image-block--small
        img(src=args.src2, alt="post image").val-blog-post-item__image-block__image--small
      .val-blog-post-item__info
        p.val-blog-post-item__info__subtitle=args.subtitle
        h2.val-blog-post-item__info__title=args.title
        p.val-blog-post-item__info__text='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.'