mixin article(args={})
  //- - const args.author = '' || 'John Doe' 
  
  article.andr-article(class=args.classes)
    if args.src 
      img(src=args.src, alt=args.alt).andr-article__image
    if args.author
      .andr-article__subtitle By 
        |
        a.andr-article__link.simptip-position-top.simptip-fade.simptip-smooth(href=args.href,  data-tooltip=args.toolTip, target='blanc')=args.author
        |
        | |
        |
        time(datetime=args.dateTime).andr-article__time=args.time
      if args.title 
        h3.andr-article__title=args.title
        p.andr-article__text=args.text 
      if args.title2 
        h4.andr-article__title.andr-article__title--small=args.title2


